<!--
 * @Author: your name
 * @Date: 2020-12-31 13:05:40
 * @LastEditTime: 2020-12-31 13:10:00
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: /redis_demo/views/post.ejs
-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <p>Fill in the form below to add a new post.</p>
    <form action='/post' method='post'>
      <p>
        <input type='text' name='entry[title]' placeholder="Title" />
      </p>
      <p>
        <textarea name="entry[body]" placeholder="Body"></textarea>
      </p>
      <p>
        <input type='submit' value="Post"/>
      </p>
    </form>
  </head>
</html>